<footer role="contentinfo" class="page-footer">
         <section class="footer-note">
          <p>Howdy! I'm James Williamson, web designer, educator, and all around opinionated simple primate. I'm passionate about web standards, accessibility, and teaching best practices to beginning web developers. I have authored dozens of courses at <a href="https://www.lynda.com/James-Williamson/128-1.html">Lynda.com</a> for both the beginner and advanced web designer! Thanks for visiting!</p>
    </section>
     <section class="legal">
         <p>&copy; 2017 James Williamson | all content offered under <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/" title="Creative Commons License">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International</a>. Feel free to reproduce anything on the site with proper attribution. I've disabled comments on the blog, so feel free to get in touch if you want to discuss anything!</p>
             <ul class="social">
    <li><a href="https://github.com/jameswillweb" title="Github" class="github">Github</a></li>
    <li><a href="https://www.linkedin.com/in/jameswillweb/" title="linked in" class="linked">LinkedIn</a></li>
    <li><a href="https://twitter.com/jameswillweb" title="twitter" class="twitter">Twitter</a></li>
    </ul>
    </section> 
</footer>
