<!doctype html>
<html lang="en">
<head>
 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title> 
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta name="author" content="James Williamson">
  <meta name="robots" content="index,follow">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@jameswillweb">
  <meta name="twitter:image" property="og:image" content="{{ site.url }}/images/sp630.png">
  <meta name="twitter:url" property="og:url" content="{{ site.baseurl }}{{ page.url }}">
  <meta name="twitter:title" property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta name="twitter:description" property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <script>
        (function() {
            document.documentElement.className = "js";
        }());
  </script>
  <link rel="canonical" href="{{ site.url }}{{ page.url }}">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
<a class="skipnav" href="#main">skip to main content</a>
<header role="banner" class="page-header">
 <h1><a href="{{site.baseurl}}/index.html" title="articles" class="siteTitle">Simple<span class="primate">Primate</span></a></h1>
 <p>{{site.tagline}}</p>
</header>
<nav aria-label="main navigation">
<button id="toggle" aria-expanded="false" aria-controls="menu">Menu</button>
<ul id="menu">
  <li><a href="{{site.baseurl}}/index.html" title="articles">Blog</a></li>
  <li><a href="{{site.baseurl}}/about.html" title="learn more about me">About</a></li>
  <li><a href="{{site.baseurl}}/speaking.html" title="speaking engagements">Speaking</a></li>
  <li><a href="{{site.baseurl}}/contact.html" title="contact me">Contact</a></li>
  <li><a href="{{site.baseurl}}/tags" title="all posts">Archives</a></li>
  </ul>
</nav>
	{{content}}
    {% if page.id %}
	  {% include footer-post.html %}
    {% else %}
      {% include footer.html %}
    {% endif %}
</body>
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
<script>
    //font loading
  WebFont.load({
    google: {
      families: ['Lato:300,400,700', 'Noto+Serif:400,400i,700,700i']
    }
  });
    //menu toggle for small screens
    var toggle = document.querySelector('#toggle');
    var menu = document.querySelector('#menu');

    toggle.addEventListener('click', function(){
      if (menu.classList.contains('is-active')) {
        this.setAttribute('aria-expanded', 'false');
        menu.classList.remove('is-active');
      } else {
        menu.classList.add('is-active'); 
        this.setAttribute('aria-expanded', 'true');
      }
    });
    //Google analytics
    {% if site.google_analytics and jekyll.environment == 'production' %}
    {% include analytics.html %}
    {% endif %}
</script>
</html>
